:root {
  --bg-dark: #1d2b27; /* Deep forest green */
  --bg-surface: #f2e9dc; /* Warm beige */
  --bg-light: #ffffff;

  --text-light: #fefefe;
  --text-dark: #1d2b27;

  --accent-primary: #264e46; /* Compass green */
  --accent-secondary: #a7864c; /* Golden sand */
  --accent-contrast: #f86e51; /* Terracotta accent */
  --accent-hover: #b6a679;

  --muted: #b1b1a5;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --fs-hero: clamp(2.5rem, 5vw + 1rem, 4rem);
  --fs-h2: clamp(1.8rem, 3vw + 1rem, 3rem);
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fs-small: 0.875rem;

  --border-radius: 12px;
  --section-padding: 4rem 1rem;

  --shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: var(--font-body);
  /* background: var(--bg-surface); */

  background-image: url(images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

p {
  font-size: var(--fs-body);
  color: var(--text-dark);
  margin-bottom: 2rem;
}

/* main .coming-soon {
  margin: 0;
  max-width: 600px;
  padding: var(--section-padding);
} */

.logo {
  max-width: 120px;
  margin-bottom: 2rem;
}


.app-name {
  font-family: var(--font-heading);
  font-size: var(--fs-hero);
  font-weight: 700;
  color: var(--accent-primary);
  margin-bottom: 0.5rem;
}

.tagline {
  opacity: .75;
  font-family: var(--font-body);
  font-size: var(--fs-h3);
  font-weight: 400;
  color: var(--text-dark);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.notify-btn {
  background: var(--accent-primary);
  color: var(--accent-hover);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--fs-body);
  font-weight: bold;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background 0.3s ease;
}

.notify-btn:hover {
  background: var(--accent-hover);
  color: var(--text-dark);
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: top center;
  }
}